################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.Net Standard 2.0/samples/RunReport/.vs
/.Net Standard 2.0/samples/RunReport/obj

**/.idea/workspace.xml
**/target/

**/obj/

**/vs/